<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png"/>
    <link rel="stylesheet" href="/public/css/admin.css">
    <script src="/public/js/toModule.js"></script>
    <title>Admin</title>
</head>
<body>
    <div class="div1">
        <a id="label1"></a>
        Admin :
        <div class="div2">
            <div>id: <input type="text" class="input1" id="adminInput"></div>
            <div class="button1" id="modifButtonAdmin">Modifié</div>
        </div>
        Guide :
        <div class="div2">
            <div>id: <input type="text" class="input1" id="guideIdInput"></div>
            <div>nom: <input type="text" class="input1" id="guideNameInput"></div>
            <div class="button1" id="createButtonGuide">Créée</div>
        </div>
        <div class="div3" id="divGuide">

        </div>
    </div>

    <script src="/public/js/admin.js"></script>
</body>
</html>