<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png"/>
    <link rel="stylesheet" href="/public/css/client.css">
    <script src="/public/js/toModule.js"></script>
    <title>Ma Session</title>
</head>
<body>
    <div class="div1">
        <img src="/public/images/logo.png" class="logo">
        <a id="guide"></a>
        <a id="date"></a>
        <a id="numFile"></a>
        <a id="statut"></a>
        <div class="button1" id="button1">Télécharger</div>
    </div>
    <script src="/public/js/client.js"></script>
</body>
</html>