<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png"/>
    <link rel="stylesheet" href="/public/css/guide.css">
    <script src="/public/js/toModule.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Guide</title>
</head>
<body>
    <div class="div1">
        <a id="label1"></a>
        <div class="div2">
            <div>client ID: <input type="text" class="input1" id="input1"></div>
            <div class="button1" id="button1">Créée</div>
        </div>
        <div class="div3" id="div3">
            
        </div>
        <div class="div4" id="div4">
            <div class="arrow" id="leftArrow">⬅</div>
            <div class="numPage" id="numPage"></div>
            <div class="arrow" id="rightArrow">➡</div>
        </div>
    </div>

    </div>
    <script src="/public/js/guide.js"></script>
</body>
</html>